@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.hero {
  padding: 3rem 1rem;
}

.header-main {
  color: #cecece;
  background: url(./images/background.jpg);
  background-size: cover;
  background-position: right;
}

.header-about {
  color: #fff;
  background-color: royalblue;
}

.header-about h1 {
  text-align: center;
}

.header-about .hero p {
  text-align: center;
}

.hero-text {
  color: black;
  border: 3px solid black;
  background-color: #fff;
  padding-top: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact-info {
  margin-top: 3rem;
}

.hero h1 {
  font-weight: 900;
  color: #fff;
}

.heroText {
  border: 3px solid #cecece;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.navBar {
  background-color: transparent;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.main-program {
  background: url(./images/gradientbg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-program h5,
.featured-speakers h5 {
  text-align: center;
  padding-top: 1.5rem;
  color: #cecece;
}

.underline {
  opacity: 1;
  max-width: 35px;
  margin-left: auto;
  margin-right: auto;
  color: red;
}

.program-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.program-list {
  width: 99%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.program-list:hover {
  backdrop-filter: brightness(500%);
}

.program1 {
  width: 20%;
  align-items: center;
  text-align: center;
}

.program2 {
  width: 20%;
}

.program-text {
  padding-left: 10px;
  font-size: 0.8rem;
  width: 60%;
  padding-top: 15px;
}

.moreBtn,
.programBtn,
.lessBtn {
  text-align: center;
}

.featured-speakers {
  background-color: #cecece;
}

.featured-speakers h5 {
  color: black;
}

.programBtn button {
  border: none;
  padding: 1rem 2rem;
  margin-bottom: 1.7rem;
  font-weight: 700;
  background-color: #cecece;
}

.moreBtn button {
  border: 1px solid black;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.lessBtn button {
  border: 1px solid black;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.programBtn button:active {
  background-color: rgb(255, 129, 18);
  color: #fff;
}

.speaker-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.speaker {
  display: flex;
  height: 8rem;
}

.speaker-img {
  max-width: 40%;
  height: auto;
}

.speaker-right {
  width: 70%;
  height: 100%;
  padding-left: 1rem;
}

.speaker-right p {
  font-size: 0.75rem;
  text-align: start;
  align-items: center;
  margin-bottom: 0;
}

.speaker-right hr {
  margin-left: 0;
  width: 1.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name {
  font-weight: bold;
}

.title {
  font-style: italic;
  color: red;
}

.details {
  margin-bottom: 3px;
}

.dynamic {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* about page mobile */

.section-2 h5,
.section-3 h5,
.section-4 h5 {
  text-align: center;
  padding-top: 1.5rem;
  font-weight: 900;
}

.section-2 p,
.section-3 p {
  text-align: center;
  font-size: 0.7rem;
}

.section-2 {
  border-bottom: 1px solid #cecece;
}

.logo-large {
  border: 1px solid #cecece;
}
