@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

.menubar {
  display: none;
}

.navbar-logo {
  display: none;
}

.campaign {
  display: none;
}

.nav-bar-desktop {
  display: none;
}

.first-link {
  color: orangered;
}

.nav-bar-mobile {
  width: 100%;
  height: 100vh;
  background-color: orangered;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-bar-mobile-container {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 900;
  padding-left: 6rem;
  padding-top: 4rem;
}

.about-link {
  text-decoration: none;
  color: #fff;
}

.nav-bar-mobile-container li {
  margin-bottom: 1.25rem;
}

.open-btn-index,
.close-btn {
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.hero-main {
  position: relative;
  background: url('./images/4907157.jpg') center/cover;
}

.open-btn-about {
  align-self: flex-start;
  padding-top: 0.8rem;
}

.hero-content {
  text-align: start;
  color: orangered;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2rem;
  padding-bottom: 20%;
}

.hero-content .hello-text {
  margin-bottom: 0.3rem;
  font-size: 1.25rem;
}

.hero-content h1 {
  width: 100%;
  font-weight: 900;
  font-size: 2.02rem;
  line-height: 1;
}

.hero-content .hero-text-home {
  color: rgb(69, 69, 69);
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid white;
  padding: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
}

.hero-content h2 {
  color: rgb(69, 69, 69);
  font-weight: 900;
  font-size: 1.5rem;
}

.place {
  font-size: 0.8rem;
  color: rgb(69, 69, 69);
  margin-bottom: 0;
}

.hero-about {
  background: url(./images/4907157.jpg);
  background-size: cover;
  background-position: center;
  color: orangered;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.hero-text {
  background-color: #fff;
  color: gray;
  border: 3px solid #cecece;
  padding: 1rem;
}

.hero-about .hero-text {
  text-align: center;
}

.open-btn-about i {
  color: black;
}

.about-hello {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.about-heading h1 {
  font-weight: 900;
  font-size: 2.02rem;
  text-align: center;
  line-height: 1;
}

.about-heading hr {
  display: none;
}

.contact-info {
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  text-align: center;
}

.speaker-right p {
  font-size: 0.75rem;
  text-align: start;
  align-items: center;
  margin-bottom: 0;
}

.section-2 p,
.section-3 p {
  text-align: center;
  font-size: 0.7rem;
}

.section-5 p {
  font-size: 10px;
  padding-top: 1rem;
}

.header-about .hero p {
  text-align: center;
}

.hero h1 {
  font-weight: 900;
  color: #fff;
}

.heroText {
  border: 3px solid #cecece;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.main-program {
  background: url(./images/black-background.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-program h5,
.featured-speakers h5,
.section-4-home h5 {
  text-align: center;
  padding-top: 2%;
  color: #fff;
  margin-bottom: 0;
}

.underline {
  opacity: 1;
  max-width: 35px;
  margin-left: auto;
  margin-right: auto;
  color: orangered;
}

.program-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.program-list {
  color: #fff;
  width: 99%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(129, 129, 129, 0.3);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border-color 0.3s ease;
}

.program-list:hover {
  border-color: #fff;
}

.program1 {
  width: 20%;
  align-items: center;
  text-align: center;
}

.program2 {
  width: 20%;
}

.program2 h6 {
  font-size: 0.75rem;
  font-weight: 700;
  color: orangered;
}

.program-text {
  font-size: 0.8rem;
  width: 60%;
  padding-top: 15px;
}

.program-link {
  display: none;
}

.moreBtn,
.programBtn,
.lessBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreBtn i,
.lessBtn i {
  color: orangered;
}

.featured-speakers {
  color: black;
  background-color: #f7f7f7;
}

.featured-speakers h5 {
  color: black;
}

.programBtn button {
  border: none;
  padding: 1rem 2rem;
  margin-bottom: 1.7rem;
  font-weight: 700;
  background-color: #cecece;
}

.moreBtn button {
  border: 1px solid black;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.lessBtn button {
  border: 1px solid black;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.programBtn button:active {
  background-color: orangered;
  color: #fff;
}

.speaker-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.speaker {
  display: flex;
  height: 9rem;
  gap: 1rem;
}

.image-container {
  position: relative;
  width: 127px;
  height: auto;
}

.speaker-bg {
  position: absolute;
  width: 127px;
  margin-top: -30px;
  margin-left: -30px;
}

.speaker-img {
  position: absolute;
  max-width: 120px;
  height: auto;
  z-index: 1;
  margin-left: 10px;
  margin-top: 10px;
}

.speaker-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding-left: 1rem;
}

.speaker-right hr {
  margin-left: 0;
  width: 1.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.name {
  font-weight: bold;
}

.title {
  font-style: italic;
  color: orangered;
}

.details {
  margin-bottom: 3px;
}

/* about page mobile */

.section-2 h5,
.section-3 h5,
.section-4 h5 {
  text-align: center;
  padding-top: 1.5rem;
  font-weight: 900;
}

.section-2 {
  border-bottom: 1px solid #cecece;
}

.program2 i {
  background-color: #fff;
}

.logo-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.3rem 2rem 1.3rem;
}

.logo-large img {
  padding: 1rem 8rem 1rem 8rem;
  border: 3px solid #cecece;
  max-width: 90%;
  height: 150px;
}

.section-3 {
  background-color: #fff;
}

.section-3-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 1rem 2rem;
}

.img1,
.img2 {
  margin-bottom: 1rem;
}

.img1 img,
.img2 img {
  max-width: 500px;
}

.overlay-text {
  margin-top: 25%;
  text-align: center;
  color: #fff;
}

.overlay-text h1 {
  font-weight: 900;
}

.section-3-img1 {
  width: 100%;
}

.section-3-img2 {
  width: 100%;
}

.img1 {
  position: relative;
}

.about-overlay1 {
  position: absolute;
  background-color: rgba(255, 69, 0, 0.8);
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.img2 {
  position: relative;
}

.about-overlay2 {
  position: absolute;
  background-color: rgba(255, 69, 0, 0.8);
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.img1:hover .about-overlay1 {
  display: block;
}

.img2:hover .about-overlay2 {
  display: block;
}

.section-4 {
  background-color: grey;
}

.section-4 h5 {
  color: #fff;
}

.section-4-home {
  display: none;
  background-color: #cecece;
}

.partner-container {
  color: #cecece;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.partner-top,
.partner-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.daumkakao {
  width: 55%;
  text-align: end;
}

.airbnb {
  width: 45%;
  text-align: start;
}

.partner-bot {
  padding-bottom: 3rem;
}

.section-4 .underline {
  padding-top: 1rem;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.section-5 img {
  max-width: 30%;
}

.section-5-home {
  display: none;
}

.hidden {
  display: none;
}

.section-5-about {
  color: #cecece;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.license-logo {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  font-weight: 900;
  line-height: 0.7;
}

.license-text {
  font-size: 0.6rem;
  width: 50%;
  line-height: 1;
}

@media (min-width: 768px) {
  .hero-content {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
  }

  .hero-content h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .nav-bar-desktop {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-bar-desktop-container {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-bottom: 0;
    gap: 4rem;
  }

  .about-link-desktop {
    text-decoration: none;
    color: orangered;
  }

  .open-btn-about,
  .open-btn-index {
    display: none;
  }

  .menubar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: #fff;
    width: 100%;
    height: 20px;
    font-size: 0.8rem;
    gap: 1rem;
    padding: 0.5rem 5% 0.5rem 0;
  }

  .navbar-logo {
    display: block;
    text-align: center;
  }

  .navbar-logo img {
    max-width: 300px;
    height: 3.75rem;
  }

  .navbar-collapse {
    justify-content: space-between;
  }

  .about-hello {
    display: none;
  }

  .about-heading hr {
    display: block;
  }

  .hello-text {
    margin-top: 5rem;
  }

  .hero-content .hello-text {
    font-size: 1.75rem;
    margin-top: 0;
  }

  .hero-about h2,
  .hero-main h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .hero-text-home {
    border: 3px solid #cecece;
    padding: 1rem;
    margin-right: 30%;
  }

  .place {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .hero-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
  }

  .about-heading {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  .about-heading h1 {
    color: orangered;
    font-size: 2.77rem;
  }

  .hero-about .hero-text {
    text-align: center;
    font-size: 1rem;
  }

  .contact-info {
    font-size: 1rem;
    margin-bottom: 5rem;
  }

  .section-2 h5,
  .section-3 h5,
  .section-4 h5 {
    font-size: 2rem;
  }

  .section-4-home h5 {
    color: #cecece;
    text-align: center;
    padding-top: 1.5rem;
  }

  .section-4-home,
  .section-4,
  .section-5-about,
  .section-5-home {
    height: 10rem;
  }

  .partner-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .partner-top {
    margin-left: 3.2rem;
    padding-bottom: 3rem;
  }

  .section-2 h5,
  .section-3 h5 {
    margin-top: 2rem;
  }

  .section-2 p,
  .section-3 p,
  .section-4 p {
    font-size: 1rem;
  }

  .program-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .program-list {
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .programBtn button:hover {
    background-color: rgb(255, 129, 18);
    color: #fff;
  }

  .program1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .program2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  .program2 h6 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }

  .program-text {
    height: 50%;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    padding: 0 0.3rem 0 0.3rem;
  }

  .program-text p {
    margin-bottom: 0;
  }

  .program-link {
    display: block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .program-link a {
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .programBtn {
    display: none;
  }

  .logo-large {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .logo-large img {
    max-width: 70%;
    height: auto;
  }

  .section-3-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  .section-4 {
    display: none;
  }

  .section-4-home {
    display: block;
    background-color: rgb(56, 56, 56);
  }

  .section-5 img,
  .section-5-home img {
    max-width: 50%;
    height: 80px;
  }

  .section-5 p,
  .section-5-home p {
    font-size: 1rem;
  }

  .section-5-home {
    color: black;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 5rem;
  }

  .section-5-about {
    color: #cecece;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 5rem;
  }

  .license-logo {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    font-weight: 900;
    line-height: 0.7;
  }

  .license-text {
    font-size: 0.8rem;
    width: 55%;
  }

  /* feature speakers */

  .speaker-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 5rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .dynamic {
    display: inline-flex;
  }

  .moreBtn {
    display: none;
  }

  .lessBtn {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hero-content {
    left: 12%;
  }

  .campaign {
    display: block;
    color: orangered;
    border: 5px solid orangered;
    padding: 0.5rem;
  }

  .program-container {
    padding-left: 12%;
    padding-right: 12%;
  }

  .speaker-container {
    padding-left: 12%;
    padding-right: 12%;
  }

  .about-heading h1 {
    font-size: 3.6rem;
  }

  .hero-content .hello-text {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .hero-content .home-h1 {
    font-size: 4rem;
    line-height: 1;
  }

  .hero-content .hero-text-home {
    font-size: 1rem;
    margin-right: 45%;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .program-list {
    height: 12rem;
  }

  .program-text {
    font-size: 0.8rem;
    padding: 0 0.3rem 0 0.3rem;
  }

  .speaker-right p {
    font-size: 0.8rem;
  }

  .lessBtn {
    display: none;
  }
}

@media (min-width: 1440px) {
  .hero-content .hello-text {
    font-size: 2.75rem;
    margin-bottom: 0;
  }

  .hero-content .home-h1 {
    font-size: 4.75rem;
    line-height: 1;
  }

  .hero-content .hero-text-home {
    font-size: 1.25rem;
    margin-right: 45%;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }

  .program-list {
    height: 14rem;
  }

  .program-text {
    font-size: 1rem;
    padding: 0 0.3rem 0 0.3rem;
  }

  .program2 h6 {
    font-size: 1.25rem;
  }

  .speaker-container {
    gap: 2rem;
  }

  .speaker-right p {
    font-size: 1rem;
  }

  .lessBtn {
    display: none;
  }
}
